<div class="card shadow p-4 w-100">
  <h3 class="mb-3 text-center">Inscription</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">
      <label class="form-label">Nom</label>
      <input class="form-control" formControlName="username" />
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" formControlName="email" type="email" />
    </div>

    <div class="mb-3">
      <label class="form-label">Mot de Passe</label>
      <input class="form-control" formControlName="password" type="password" />
    </div>

    <button class="btn btn-primary w-100" type="submit">
      S'inscrire
    </button>

  </form>
</div>
