.link {
    border-radius: 2rem;
    background-color: rgb(0, 0, 0);
    border-width: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all ease-in 0.2s;

}

.link:hover {
    background-color: rgb(53, 53, 53);
    font-weight: bold;
    transition: all ease-in 0.2s;
}