:host {
  display: block;
  width: 100%;
  flex: 1;
}


.register-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  flex-shrink: 0;
  background: radial-gradient(circle at top left, #3b82f6, transparent 40%),
              radial-gradient(circle at bottom right, #9333ea, transparent 40%),
              linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
  
}

